@model TurriAdventures.Entities.Temporada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Temporada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionTemporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionTemporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioTemporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioTemporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalTemporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalTemporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTemporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTemporada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTemporada">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
